li div
{
  text-align: justify;
  text-justify: inter-word;
}
body
{
  font-size:16px;
  margin:0px auto 0px auto;
  width:600px;
  background-color:black;
  color:white;
}

div#header
{
  border-bottom:2px solid black;
  margin-bottom:30px;
  padding:12px 0px 12px 0px;
}

div#logo a
{
  color:tomato;
  float:left;
  font-size:35px;
  font-weight:bold;
  text-decoration:none;
}

div#header #navigation
{
  text-align:right;
  text-decoration:none;
}

div#header #navigation a
{
  color:white;
  font-size:20px;
  font-weight:bold;
  margin-left:12px;
  glyph-orientation-vertical:auto;
  text-decoration:none;
  text-transform:uppercase;
}

div#footer
{
  display: none;
  border-top:solid 2px black;c
  olor:#555;
  font-size:12px;
  margin-top:30px;
  padding:12px 0px 12px 0px;
  text-align:right;
}

h1
{
  font-size:24px;
}

h2
{
  font-size:28px;
  color:black;
  background: grey;
  text-decoration:none;
  text-transform:uppercase;
}

ul li a
{
  color:white;
}

ul li div
{
  color:grey;
}

div.info
{
  color:#555;
  font-size:14px;
  font-style:italic;
}

.hide
{
  display:none;
}

h2 code
{
  color:white;
}

pre code
{
  color :#33ff33;
}