.home-collection {
	display:flex;
	border: 2px solid red;
	width: 50vw;
	height: 50vh;
	flex-flow: row wrap;
}

.home-topic {
	display:flex;
	border: 2px solid red;
	width: 40rem;
	height: 20rem;
}

.post-tile {
	border : 2px #999 solid;
	border-radius: 8px;
	padding-left: 2rem;
	max-width: 40%;
	margin:2rem;
}