---
layout: layouts/base.njk
---
<div class="home">
  {{ content | safe }}

  {%- set allPosts = collections.post | reverse -%}
  {%- if allPosts.length > 0 -%}
    <ul class="post-list">
      {%- for post in allPosts -%}
      <li>
        <span class="post-meta">{{ post.date | postDate }}</span>
        <p>
          <a class="post-link" href="{{ post.url }}">{{ post.data.title | escape }}</a>
          {%- if post.data.summary -%}
          <br/>{{ post.data.summary | escape }}
          {%- endif -%}
        </p>
      </li>
      {%- endfor -%}
    </ul>
  {%- else -%}
    <h2>NO POSTS FOUND</h2>
  {%- endif -%}

</div>
