---
layout: layouts/base.njk
---
<div class="home">
  {%- if title -%}
    <h1 class="page-heading">{{ title }}</h1>
  {%- endif -%}

  {{ content | safe }}

  <div class="post-tile">
    <h2 class="post-list-heading">LATEST</h2>
    {%- set latestPosts = collections.post | reverse | limit(5) -%}
    {%- if latestPosts.length > 0 -%}
      <ul class="post-list">
        {%- for post in latestPosts -%}
        <li style="margin-bottom: 0;">
          <span class="post-time">{{ post.date | postDate }}&nbsp; | &nbsp;</span>
          <a class="post-link" href="{{ post.url }}">{{ post.data.title | escape }}</a>
          <hr/>
        </li>
        {%- endfor -%}
        <li>
          <a class="seeall" href="/allposts/">See all posts ordered chronologically...</a>
        </li>
      </ul>
    {%- endif -%}
  </div>

  <div class="post-tile">
    <h2 class="post-list-heading">Book Reviews</h2>
    <ul class="post-list">
      {%- for post in collections.bookreview | reverse | limit(5) -%}
      <li style="margin-bottom: 0;">
        <span class="post-time">{{ post.date | postDate }}&nbsp; | &nbsp;</span>
        <a class="post-link" href="{{ post.url }}">{{ post.data.title | escape }}</a>
        <hr/>
      </li>
      {%- endfor -%}
      <li>
        <a class="seeall" href="/bookreviews/">See all book reviews...</a>
      </li>
    </ul>
  </div>

  <div class="post-tile">
    <h2 class="post-list-heading">Technology</h2>
    <ul class="post-list">
      {%- for post in collections.technology | reverse | limit(5) -%}
      <li style="margin-bottom: 0;">
        <span class="post-time">{{ post.date | postDate }}&nbsp; | &nbsp;</span>
        <a class="post-link" href="{{ post.url }}">{{ post.data.title | escape }}</a>
        <hr/>
      </li>
      {%- endfor -%}
      <li>
        <a class="seeall" href="/technology/">See all technology posts...</a>
      </li>
    </ul>
  </div>

  <div class="post-tile">
    <h2 class="post-list-heading">Philosophy</h2>
    <ul class="post-list">
      {%- for post in collections.philosophy | reverse | limit(5) -%}
      <li style="margin-bottom: 0;">
        <span class="post-time">{{ post.date | postDate }}&nbsp; | &nbsp;</span>
        <a class="post-link" href="{{ post.url }}">{{ post.data.title | escape }}</a>
        <hr/>
      </li>
      {%- endfor -%}
      <li>
        <a class="seeall" href="/philosophy/">See all philosophy posts...</a>
      </li>
    </ul>
  </div>

</div>
