---
layout: default
---
<article class="post">

  <div class="post-content">
    {{ content }}
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/emerald-girl.png" | relative_url }}>
      <img src={{ "assets/art/emerald-girl.png" | relative_url }} alt="Emerald Girl" width="600" height="400">
    </a>
    <div class="desc">Emerald Nights</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/corona-dreams.png" | relative_url }}>
      <img src={{ "assets/art/corona-dreams.png" | relative_url }} alt="Corona Dreams" width="600" height="400">
    </a>
    <div class="desc">Corona Dreams</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/gorakhpur.png" | relative_url }}>
      <img src={{ "assets/art/gorakhpur.png" | relative_url }} alt="Gorakhpur" width="600" height="400">
    </a>
    <div class="desc">Gorakhpur Bunglow</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/inverted.png" | relative_url }}>
      <img src={{ "assets/art/inverted.png" | relative_url }} alt="Inverted sketch" width="600" height="400">
    </a>
    <div class="desc">Inverted sketch</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/minas-tirith.png" | relative_url }}>
      <img src={{ "assets/art/minas-tirith.png" | relative_url }} alt="Minas Tirith" width="600" height="400">
    </a>
    <div class="desc">Minas Tirith</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/sleep-sheep.png" | relative_url }}>
      <img src={{ "assets/art/sleep-sheep.png" | relative_url }} alt="Shleep tight" width="600" height="400">
    </a>
    <div class="desc">Shleep tight</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/couple.png" | relative_url }}>
      <img src={{ "assets/art/couple.png" | relative_url }} alt="couple" width="600" height="400">
    </a>
    <div class="desc">couple</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/coffee-girl.png" | relative_url }}>
      <img src={{ "assets/art/coffee-girl.png" | relative_url }} alt="Girl Drinking Coffee" width="600" height="400">
    </a>
    <div class="desc">Coffee is for the soul</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/dancing-girl.png" | relative_url }}>
      <img src={{ "assets/art/dancing-girl.png" | relative_url }} alt="Dancing Girl" width="600" height="400">
    </a>
    <div class="desc">Dancing Girl</div>
  </div>

  <div class="gallery">
    <a target="_blank" href={{ "assets/art/goa.png" | relative_url }}>
      <img src={{ "assets/art/goa.png" | relative_url }} alt="Old Goa" width="600" height="400">
    </a>
    <div class="desc">Old Goa</div>
  </div>

</article>
